{% extends 'base_layout.html' %}

{% block content %}
	<body onmousedown = "GetAllMessage(event)">
		<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
			<div class="container"><a class="navbar-brand" style="font-size:150%;">Connect Blindly</a>
				
			</div>
		</nav>
		<!-- <header class="masthead text-left text-white">
        </header> -->
		<div class="container"style="margin-top:150px">
			<table class="table table-striped">
				<thead>
					<tr>
					<th scope="col">To</th>
					<!-- <th scope="col">Subject</th> -->
					<th scope="col">Time</th>
					<th scope="col">Message</th>
					
					
					</tr>
				</thead>
				<tbody>
					{% for m in message %}
					<tr>
						
						<td>{{m.message_to}}</td>
						<td>{{m.created_at}}</td>
						<td>{{m.messsage}}</td>
						
					</tr>
					{% endfor %}
					
				</tbody>
			</table>
		<!-- {% for m in message %}
        <h1>{{m.messsage}}</h1>
        
        <h1>{{m.message_from}}</h1>
        {% endfor %} -->
		</div>
        
        <!-- <footer class="py-5 bg-black">
			<div class="container">
				<p class="text-center text-white m-0 small">Copyright&nbsp;© Voice Based Email&nbsp;</p>
			</div>
		</footer> -->
	<script>
	function GetAllMessage(event){
		$.ajax({
        url: "{% url 'homepage:get_message' %}",
        method: 'POST',
        data: { 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function (data) {
			if(data.result == 'success'){
				window.location = "{% url 'homepage:options' %}";
			}
			else if(data.result == 'logout'){
				window.location = "{% url 'homepage:login' %}";
			}
        }
    });
	}
	</script>

{% endblock %}